<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li><a href="https://www.linkedin.com/in/nikhita-garg-206941195/"><i class='bx bxl-linkedin'></i></a></li>
        <li><a href="https://auth.geeksforgeeks.org/user/nikhitagarg2002/practice"><i class='bx bxl-codepen'></i></a></li>
        <li><a href="https://github.com/nikhitagarg10"><i class='bx bxl-github'></i></a></li>
    </ul>

    <ul class="contact-info">
        <li>Mobile: 9599736055</li>
        <li>nikhitagarg2002@gmail.com</li>
    </ul>
</div>
